{% extends 'blog/base.html' %}

{% block content %}
<main class="main-content section-wrapper">
    <div class="form-container login-form">
        <h1 class="form-title">Entrar</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="id_username" class="form-label">Usuário</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password" class="form-label">Senha</label>
                {{ form.password }}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Entrar</button>
                <a href="{% url 'register' %}" class="btn btn-secondary">Criar Conta</a>
            </div>
        </form>
    </div>
</main>
{% endblock content %} 